<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Metadata Repository - Create an Asset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">
                Asset Metadata Repository
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <button class="btn btn-lg btn-outline-primary">
                        Login
                    </button>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main page body -->
    <section class="section bg-body-tertiary p-2 text-center">
        <h1>
            Create an Asset
        </h1>
        <h3 class="fst-italic">
            Enter the information about the asset below to add it to the repository
        </h3>
        <br>
        <!-- Creating an asset form starts here -->
        <div class="container">
            <div id="successAlertPlaceholder"></div>
            <div id="titleAlertPlaceholder"></div>
            <div id="typeAlertPlaceholder"></div>
            <div id="noOfLinesAlertPlaceholder"></div>
            <div id="documentLinkAlertPlaceholder"></div>
            <div id="progLanguageAlertPlaceholder"></div>
            <div id="associationsAlertPlaceholder"></div>
            <div id="dateAlertPlaceholder"></div>
            <form action="/submit" method="post">
                <div class="mb-3">
                    <label for="assetType" class="form-label">
                        Type
                    </label>
                    <select class="form-select m-auto" id="assetType" aria-label="Asset type selection menu" aria-describedby="typeHelp" style="width: 500px" name="type">
                        <option selected></option>
                        <!-- Populate options using Thymeleaf -->
                        <th:block th:each="type : ${types}">
                            <option th:text="${type}"></option>
                        </th:block>
                    </select>
                    <div id="typeHelp" class="form-text">
                        Choose the asset type from the dropdown menu
                    </div>
                </div>

                <div class="mb-3 d-none" id="customTypeInputDiv">
                    <label for="customType" class="form-label">
                        Custom Type
                    </label>
                    <input type="text" class="form-control m-auto" id="customType" aria-describedby="customTypeHelp" style="width: 500px" name="customType">
                    <div id="customTypeHelp" class="form-text">
                        Please enter the custom type value
                    </div>
                </div>
                <div class="mb-3">
                    <label for="assetDocumentLink" class="form-label">
                        Document Link
                    </label>
                    <input type="text" class="form-control m-auto" id="assetDocumentLink" aria-describedby="linkHelp" style="width: 500px" name="link">
                    <div id="linkHelp" class="form-text">
                        Paste the link to the asset document(s)
                    </div>
                </div>
                <div class="mb-3">
                    <label for="assetDate" class="form-label">
                        Date
                    </label>
                    <input type="text" class="form-control m-auto" id="assetDate" aria-describedby="dateHelp" style="width: 500px" name="date">
                    <div id="dateHelp" class="form-text">
                        Write down the date the asset was created (in the format dd/mm/yy)
                    </div>
                </div>
                <button class="btn btn-outline-primary" type="submit" id="createButton">
                    <i class="bi bi-check-lg"></i> Create
                </button>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const assetTypeSelect = document.getElementById('assetType');
            const customTypeInputDiv = document.getElementById('customTypeInputDiv');

            assetTypeSelect.addEventListener('change', function() {
                if (assetTypeSelect.value === 'Other') {
                    customTypeInputDiv.classList.remove('d-none');
                } else {
                    customTypeInputDiv.classList.add('d-none');
                }
            });
        });
    </script>
</body>
</html>
