/* Navbar */
.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

.nav-link { white-space: nowrap; }

/* create-asset.html */

#assetTitle, #assetAssociations, #type {
	width: 30%;
}

/* create-type.html */

#changeTypeNameCheckboxDiv, #deleteTypeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#changeTypeNameCheckbox, #deleteTypeCheckbox {
    width: 1.5rem;
    height: 1.5rem;
}

#customTypeInputDiv, #newNameInputDiv, #attributesContainer {
	width: 30%;
	margin: 0 auto;
}

/* manage-asset.html */

#changeAssetNameCheckboxDiv, #deleteAssetCheckboxDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#changeAssetNameCheckbox, #deleteAssetCheckbox {
    width: 1.5rem;
    height: 1.5rem;
}

#existingAssets {
    width: 30%;
}

/* search-asset.html */

#searchField {
    width: 40%;
}

#mainContainer {
    display: inline;
}

#filterAndResultsContainer {
    display: flex;
    justify-content: space-around;
}

#filterBox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: min-content;
    background-color: #FFFFFF;
}

#resultsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 10%;
}

/* login.html */

#exampleInputEmail,  #exampleInputPassword {
    width: 30%;
}

/* register.html */

#email,  #password, #password2 {
    width: 30%;
}