<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Metadata Repository - Search for an Asset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">
                Asset Metadata Repository
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	                <button class="btn btn-lg btn-outline-primary" onclick="window.location.href='/login.html'">
                        Login
                    </button>
                    <button class="btn btn-lg btn-outline-primary" onclick="window.location.href='/register.html'">
                        Register
                    </button>
                </ul>
            </div>
        </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="btn btn-lg btn-outline-primary" onclick="window.location.href='/create-asset.html'">
                        Create/edit assets
                    </button>
                    <button class="btn btn-lg btn-outline-primary" onclick="window.location.href='/create-type.html'">
                        Create/edit types
                    </button>
                    <!-- System Log does not have a link yet -->
                    <button class="btn btn-lg btn-outline-primary">
                        System Log
                    </button>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Main page body -->
    <section class="section bg-body-tertiary p-2 text-center">
	<hr>
        <h1>
            Find Assets
        </h1>
        <input type="text" class="form-control m-auto" id="searchKeyWord" aria-describedby="searchKeyWordHelp" style="width: 600px" name="searchKeyWord">
		<!-- Should add in Search Image Later (Magnifying Glass) -->
        <div id="searchKeyWordHelp" class="form-text">
            Keyword(s) here...
        </div>
    </section>
</body>
</html>